{% embed '@Forumify/components/modal.html.twig' %}
    {% block modalOpenButton %}
        <button type="button" class="btn-link btn-icon" {{ stimulus_action('forumify/forumify-platform/modal', 'open') }}>
            <i class="ph ph-pencil-simple-line" style="color:#1a3f5f;"></i>
        </button>
    {% endblock %}
    {% block modalContent %}
        {{ form_start(editForm) }}
        <div class="card w-100">
            <div class="card-title" style="background-color:#13233A;color:#ececec;">Edit Job - {{ transfer.guest }}</div>
            <div class="card-body">
                <div class="">
                    Job Information
                    <div class="flex gap-2 mb-2 mt-2">
                        {{ form_row(editForm.date) }}
                        {{ form_row(editForm.driver) }}
                        {{ form_row(editForm.cost) }}
                    </div>
                    <div  class="flex gap-2 mt-2 mb-2">
                        {{ form_row(editForm.pickup) }}
                        {{ form_row(editForm.dropoff) }}
                    </div>
                    <div class="flex gap-2 mt-2 mb-2">
                        <div class="w-20">
                            {{ form_row(editForm.status) }}
                        </div>
                        <div class="w-80">
                            {{ form_row(editForm.notes) }}
                        </div>
                    </div>
                </div>
                <div class="mt-5 mb-5 border-t">
                    Guest Details
                    <div class="flex gap-2 mb-2 mt-2">
                        {{ form_row(editForm.guest) }}
                        {{ form_row(editForm.number) }}
                        {{ form_row(editForm.email) }}

                    </div>
                </div>
                <div class="flex gap-2">
                    <button type="submit" class="btn btn-primary" style="background-color:#1a3f5f;">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(editForm) }}
    {% endblock %}
{% endembed %}
