<div class="card-title" style="background-color:#13233A;color:#ececec;">
    Not Completed Fines
</div>
<div class="card-body">
    <table>
        <tr>
            <th class="text-left">Date</th>
            <th class="text-left">Fine Number</th>
            <th class="text-left">Guest Name</th>
            <th class="text-left">Guest Email</th>
            <th class="text-left">Logged By</th>
            <th class="text-left">Status</th>
            <th class="text-left"></th>
        </tr>
        {% for fine in fines %}
            {% if fine.status.value != 'appeal_completed'  %}
                <tr>
                    <td>{{ fine.createdAt|date('d/m/y H:i') }}</td>
                    <td>{{ fine.number }}</td>
                    <td>{{ fine.name }}</td>
                    <td>{{ fine.email }}</td>
                    <td>{{ fine.createdBy.name }}</td>
                    <td>{{ fine.status.label }}</td>
                    <td>
                        {% include '@CitadelAureum/core/fines/blocks/fine_notes.html.twig' with {
                            'fine': fine
                        } %}
                        {% include '@CitadelAureum/core/fines/blocks/fines_edit.html.twig' with {
                            'fine': fine,
                            'editForm': editForms[fine.id]
                        } %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>