<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    {% set logo %}
        {%- if setting('forumify.logo') -%}
            {{ asset(setting('forumify.logo'), 'forumify.asset') }}
        {%- else -%}
            {{ asset('bundles/forumify/images/forumify.svg') }}
        {% endif %}
    {% endset %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Dashboard | {{ employee.hotel.name }}
        {% endblock %}
    </title>
    <link rel="icon" type="image/svg+xml" href="{{ asset('bundles/forumify/images/forumify.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
        {{ theme_tags(false) }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</head>
<body {{ stimulus_controller('forumify/forumify-platform/admin') }}>
<div class="flex">
    <nav class="navigation luxury">
        {% block navigation %}
            <div class="navigation-section flex-grow">
                {% include '@CitadelAureum/core/navigation.html.twig' %}
            </div>
            <div class="navigation-section">
                <a class="btn-link navigation-row" href="{{ path('forumify_core_logout') }}">
                    <i class="ph ph-sign-out"></i>
                    {{ 'logout'|trans }}
                </a>
            </div>
        {% endblock %}
    </nav>
    <main class="flex flex-col">
        {% block flashbag %}
            {% set flashes = app.flashes %}
            {% if flashes is not empty %}
                <div class="flex flex-col gap-2 mb-4 flashbag">
                    {% for type, messages in flashes %}
                        {% for message in messages %}
                            <div class="alert-{{ type }}">
                                <p>{{ message|trans|capitalize }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block body_wrapper %}
            {% include '@CitadelAureum/core/header.html.twig' %}
            <div class="responsive mt-4 mb-8">
                {% block body %}
                {{ employee.name }} - {{ employee.hotel.name }}

                    <div class="">
                        <div>test1</div>
                        <div>test2</div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </main>
</div>
</body>
</html>