{% set menuItems = menu is defined ? menu.entries : aureum_menu().entries %}
<div class="navigation-cluster flex flex-col gap-2">
    {% for menuItem in menuItems %}
        {% if menuItem is instanceof('Forumify\\Core\\MenuBuilder\\MenuItem') %}
                <a class="btn-link flex" href="{{ menuItem.location }}">
                    {% if menuItem.options.icon is defined %}
                        <i class="text-center ml-2 {{ menuItem.options.icon }}"></i>
                    {% endif %}
                    <span class="text-small ml-2 text-center">{{ menuItem.label }}</span>
                </a>
        {% else %}
            <div {{ stimulus_controller('forumify/forumify-platform/menu', { placement: 'right-start' }) }}>
                <a class="btn-link navigation-row" {{ stimulus_target('forumify/forumify-platform/menu', 'openButton') }}>
                    {% if menuItem.options.icon is defined %}
                        <i class="{{ menuItem.options.icon }}"></i>
                    {% endif %}
                    {{ menuItem.label }}
                </a>
                <div class="menu" {{ stimulus_target('forumify/forumify-platform/menu', 'menu') }}>
                    {% include '@Forumify/admin/components/navigation.html.twig' with {
                        menu: menuItem
                    } only %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>