{% extends '@CitadelAureum/core/base.html.twig' %}
{% block body %}
    <div class="card">
        <div class="card-title luxury">
            New Fine
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="flex gap-2 mb-2">
                {{ form_widget(form.number) }}
                {{ form_widget(form.name) }}
                {{ form_widget(form.email) }}
                {{ form_widget(form.status) }}
            </div>
            <div class="mb-2">
                {{ form_widget(form.note) }}
            </div>
            <div class="flex justify-end">
                <button type="submit" class="luxury-light square btn btn-primary">Submit Fine</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="mt-5">
        <div>
            {% embed '@Forumify/components/tabs.html.twig' %}
                {% block tabs %}
                    <button type="button" class="luxury-light square btn-link" data-tab-id="not_completed">Not Completed</button>
                    <button type="button" class="luxury-light square btn-link" data-tab-id="completed">Completed</button>
                    <button type="button" class="luxury-light square btn-link btn-icon" data-tab-id="help">Help</button>
                {% endblock %}
                {% block tabpanels %}
                    <div id="not_completed" class="card w-100">
                        {% include '@CitadelAureum/core/fines/blocks/not_completed.html.twig' with {
                            'fines': fines,
                            'logs': logs,
                            'editForms': editForms
                        } %}
                    </div>
                    <div id="completed" class="card w-100">
                        {% include '@CitadelAureum/core/fines/blocks/completed.html.twig' with {
                            'fines': fines,
                            'logs': logs,
                            'editForms': editForms
                        } %}
                    </div>
                    <div id="help">
                        {% include '@CitadelAureum/core/fines/blocks/help.html.twig' %}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}